In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ref_sheet = pd.read_excel('toy_data_17May2021.xlsx')

In [ ]:
ref_sheet

,mCC_ID,Participant_Study_ID,Study Phase,Intervention group (TRE or HABIT),Start_Day,End_day,Eating_Window_Start,Eating_Window_End
0,yrt1999,2,S-REM,TRE,2021-05-12,2021-05-14,00:00:00,23:59:00
1,yrt1999,2,T3-INT,TRE,2021-05-15,2021-05-18,08:00:00,18:00:00

# make data for S-REM phase(no restriction on eating window)

## make data for 2021-05-12

In [ ]:
# create the log time
original_logtime_512 = ['2021-05-12 02:30:00 +0000', '2021-05-12 02:45:00 +0000', '2021-05-12 04:45:00 +0000']
# create the log content
desc_text_512 = ['milk', 'some medication', 'cookie']
# create food type
food_type_512 = ['b', 'm', 'f']

## make data for 2021-05-13

In [ ]:
# create the log time
original_logtime_513 = ['2021-05-13 04:30:00 +0000']
# create the log content
desc_text_513 = ['milk']
# create food type
food_type_513 = ['b']

## make data for 2021-05-14

In [ ]:
# create the log time
original_logtime_514 = ['2021-05-14 02:30:00 +0000','2021-05-14 08:30:00 +0000','2021-05-14 12:30:00 +0000','2021-05-14 19:30:00 +0000']
# create the log content
desc_text_514 = ['coffee','milk', 'lunch', 'dinner']
# create food type
food_type_514 = ['b','b', 'f', 'f']

In [ ]:
# form the expected table for s-rem study phase
df_srem = pd.DataFrame(data = {'original_logtime':original_logtime_512+original_logtime_513+original_logtime_514,
                              'desc_text':desc_text_512+desc_text_513+desc_text_514,
                              'food_type':food_type_512+food_type_513+food_type_514,
                              })
df_srem['PID'] = 'yrt1999'
df_srem

            original_logtime        desc_text food_type      PID
0  2021-05-12 02:30:00 +0000             milk         b  yrt1999
1  2021-05-12 02:45:00 +0000  some medication         m  yrt1999
2  2021-05-12 04:45:00 +0000           cookie         f  yrt1999
3  2021-05-13 04:30:00 +0000             milk         b  yrt1999
4  2021-05-14 02:30:00 +0000           coffee         b  yrt1999
5  2021-05-14 08:30:00 +0000             milk         b  yrt1999
6  2021-05-14 12:30:00 +0000            lunch         f  yrt1999
7  2021-05-14 19:30:00 +0000           dinner         f  yrt1999

# expected result for S-REM phase

    phase_duration = 3
    caloric_entries = 7
    mean_daily_eating_window = 13.75
    std_daily_eating_window = 9.78
    earliest_entry = 4.75
    _25 = np.percentile([4.75, 4.5, 26.5, 8.5, 12.5, 19.5, 27.75], 2.5) = 4.5375
    _975 = np.percentile([4.75, 4.5, 26.5, 8.5, 12.5, 19.5, 27.75], 97.5) = 27.5625
    duration_mid_95 = _975 - _25 = 23.025
    logging_day_counts = 3
    %_logging_day_counts = 1
    good_logging_days = 2
    %_good_logging_days = 0.67
    good_window_days = 3
    %_good_window_days = 1
    outside_window_days = 0
    %_outside_window_days = 0
    adherent_days = 2
    %_adherent_days = 0.67

# make data for T3-INT phase(no restriction on eating window)

## make data for 2021-05-15

In [ ]:
# create the log time
original_logtime_515 = ['2021-05-15 07:30:00 +0000', '2021-05-15 08:30:00 +0000', '2021-05-15 03:45:00 +0000']
# create the log content
desc_text_515 = ['milk', 'some medication', 'steak']
# create food type
food_type_515 = ['b', 'm', 'f']

## make data for 2021-05-16

In [ ]:
# create the log time
original_logtime_516 = ['2021-05-16 08:30:00 +0000', '2021-05-16 12:30:00 +0000', '2021-05-16 17:30:00 +0000']
# create the log content
desc_text_516 = ['milk', 'some food', 'food']
# create food type
food_type_516 = ['b', 'f', 'f']

# make data for 2021-05-17

In [ ]:
# create the log time
original_logtime_517 = ['2021-05-17 08:30:00 +0000', '2021-05-17 12:30:00 +0000', '2021-05-17 17:30:00 +0000']
# create the log content
desc_text_517 = ['milk', 'some food', 'food']
# create food type
food_type_517 = ['b', 'f', 'f']

# make data for 2021-05-18

In [ ]:
# create the log time
original_logtime_518 = ['2021-05-18 01:30:00 +0000']
# create the log content
desc_text_518 = ['sandwich']
# create food type
food_type_518 = ['f']

In [ ]:
# form the expected table for t3-int study phase
df_t3int = pd.DataFrame(data = {'original_logtime':original_logtime_515+original_logtime_516+original_logtime_517+original_logtime_518,
                              'desc_text':desc_text_515+desc_text_516+desc_text_517+desc_text_518,
                              'food_type':food_type_515+food_type_516+food_type_517+food_type_518,
                              })
df_t3int['PID'] = 'yrt1999'
df_t3int

            original_logtime        desc_text food_type      PID
0  2021-05-15 07:30:00 +0000             milk         b  yrt1999
1  2021-05-15 08:30:00 +0000  some medication         m  yrt1999
2  2021-05-15 03:45:00 +0000            steak         f  yrt1999
3  2021-05-16 08:30:00 +0000             milk         b  yrt1999
4  2021-05-16 12:30:00 +0000        some food         f  yrt1999
5  2021-05-16 17:30:00 +0000             food         f  yrt1999
6  2021-05-17 08:30:00 +0000             milk         b  yrt1999
7  2021-05-17 12:30:00 +0000        some food         f  yrt1999
8  2021-05-17 17:30:00 +0000             food         f  yrt1999
9  2021-05-18 01:30:00 +0000         sandwich         f  yrt1999

    phase_duration = 4
    caloric_entries = 8
    mean_daily_eating_window = 6.75
    std_daily_eating_window = 6.87
    earliest_entry = 7.5
    _25 = np.percentile([7.5, 8.5, 8.5, 12.5, 17.5, 8.5, 12.5, 17.5, 25.5], 2.5) = 7.7
    _975 = np.percentile([7.5, 8.5, 8.5, 12.5, 17.5, 8.5, 12.5, 17.5, 25.5], 97.5) = 23.9
    duration_mid_95 = _975 - _25 = 16.2
    logging_day_counts = 3
    %_logging_day_counts = 0.75
    good_logging_days = 2
    %_good_logging_days = 0.5
    good_window_days = 1
    %_good_window_days = 0.25
    outside_window_days = 3
    %_outside_window_days = 0.75
    adherent_days = 1
    %_adherent_days = 0.75

# concat two dataframes to make the full toy data

In [ ]:
pd.concat([df_srem,df_t3int], axis=0).reset_index(drop=True).to_csv('yrt1999_food_data.csv')
#original_logtime